/*  your css code here. If applicable */
#container{
	margin:20px;
}
#container::before{
	content:"Devanshu";
	color:red;
	font-size:20px;
}
#container::after{
	content:"Devanshu";
	color:red;
	font-size:20px;
}